body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.creamText{
    color: #FFFDD0;
}

p{
    font-size: larger;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;
    max-width: 1200px;
}
.sub-container-list {
    background-color: rgba(246, 211, 114, 0.5);
    margin: 10px;
    border: 2px solid black;
    height: 300px;
    width: 50%;
    padding-left: 5px;
    overflow: auto;
}
.header{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
button{
    height: 28px;
    margin-top: 10px;
}
input{
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

.destinationsListContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.nycBtn{
    background-image: url("destinationImages/nyc.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.nycBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.londonBtn{
    background-image: url("destinationImages/london.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.londonBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.parisBtn{
    background-image: url("destinationImages/paris.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.parisBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.berlinBtn{
    background-image: url("destinationImages/berlin.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.berlinBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.sanFranBtn{
    background-image: url("destinationImages/sanFrancisco.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.sanFranBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.dubaiBtn{
    background-image: url("destinationImages/dubai.jpg");
    width: 200px;
    height: 200px;
    margin: 10px;
}.dubaiBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}